<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">

            <div class="row">
                <div class="col-8">
                    <h1>Register User</h1>
                </div>
                <div class="col-4">
                    <h2><a routerLink="/login" routerLinkActive="active">Log In</a></h2>
                </div>
            </div>

            <form [formGroup]="registerFormRef" (ngSubmit)="submitRegister()" class="form-group">
                <label>Username</label>
                <input type="text" formControlName="user" class="form-control" />
                <label>Password</label>
                <input type="password" formControlName="pass" class="form-control" />
                <label>First Name</label>
                <input type="text" formControlName="firstName" class="form-control" />
                <label>Last Name</label>
                <input type="text" formControlName="lastName" class="form-control" />
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
                {{msg}}

            </form>
        </div>
    </div>


</div>