#projectTable td, #projectTable th{
    text-align: center;
    padding:2px 5px;
}

body {
    width:100%;
    max-width: 1024px;
    margin: auto;
}

table {
    margin:auto;
    text-align: center;
}

p, h1, nav {
    text-align: center;
}

nav li {
    list-style-type: none;
    display: inline-block;
    border: 1px black solid;
    padding: 2px;
}

nav a {
    text-decoration: none;
}

nav ul {
    padding-left: 0px;
    padding-bottom: 10px;
    box-align: center;
    width: fit-content;
    margin: auto;
}

table {
    table-layout: fixed;
    width: 310px;
    border: 3px black solid;
}